AplicacionWebTarjetas/Connected Services/ServicioTarjetas/ServicioTarjetas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioTarjetas" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49584/ServicioTarjetas.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49584/ServicioTarjetas.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49584/ServicioTarjetas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServicioTarjetasULACIT" />
      <xsd:import schemaLocation="http://localhost:49584/ServicioTarjetas.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfServicioTarjetasULACIT.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITarjetas_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="ITarjetas_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="ITarjetas_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="ITarjetas_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="ITarjetas_ConsultarEmisores_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarEmisores" />
  </wsdl:message>
  <wsdl:message name="ITarjetas_ConsultarEmisores_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarEmisoresResponse" />
  </wsdl:message>
  <wsdl:message name="ITarjetas_ConsultarEmisoresPorDescripcion_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarEmisoresPorDescripcion" />
  </wsdl:message>
  <wsdl:message name="ITarjetas_ConsultarEmisoresPorDescripcion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarEmisoresPorDescripcionResponse" />
  </wsdl:message>
  <wsdl:message name="ITarjetas_ConsultarEmisorPorNumeroTarjeta_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarEmisorPorNumeroTarjeta" />
  </wsdl:message>
  <wsdl:message name="ITarjetas_ConsultarEmisorPorNumeroTarjeta_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarEmisorPorNumeroTarjetaResponse" />
  </wsdl:message>
  <wsdl:message name="ITarjetas_ConsultarInformacionTarjeta_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarInformacionTarjeta" />
  </wsdl:message>
  <wsdl:message name="ITarjetas_ConsultarInformacionTarjeta_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarInformacionTarjetaResponse" />
  </wsdl:message>
  <wsdl:portType name="ITarjetas">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/ITarjetas/GetData" message="tns:ITarjetas_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITarjetas/GetDataResponse" message="tns:ITarjetas_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/ITarjetas/GetDataUsingDataContract" message="tns:ITarjetas_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITarjetas/GetDataUsingDataContractResponse" message="tns:ITarjetas_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarEmisores">
      <wsdl:input wsaw:Action="http://tempuri.org/ITarjetas/ConsultarEmisores" message="tns:ITarjetas_ConsultarEmisores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITarjetas/ConsultarEmisoresResponse" message="tns:ITarjetas_ConsultarEmisores_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarEmisoresPorDescripcion">
      <wsdl:input wsaw:Action="http://tempuri.org/ITarjetas/ConsultarEmisoresPorDescripcion" message="tns:ITarjetas_ConsultarEmisoresPorDescripcion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITarjetas/ConsultarEmisoresPorDescripcionResponse" message="tns:ITarjetas_ConsultarEmisoresPorDescripcion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarEmisorPorNumeroTarjeta">
      <wsdl:input wsaw:Action="http://tempuri.org/ITarjetas/ConsultarEmisorPorNumeroTarjeta" message="tns:ITarjetas_ConsultarEmisorPorNumeroTarjeta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITarjetas/ConsultarEmisorPorNumeroTarjetaResponse" message="tns:ITarjetas_ConsultarEmisorPorNumeroTarjeta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarInformacionTarjeta">
      <wsdl:input wsaw:Action="http://tempuri.org/ITarjetas/ConsultarInformacionTarjeta" message="tns:ITarjetas_ConsultarInformacionTarjeta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITarjetas/ConsultarInformacionTarjetaResponse" message="tns:ITarjetas_ConsultarInformacionTarjeta_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITarjetas" type="tns:ITarjetas">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/ITarjetas/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/ITarjetas/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarEmisores">
      <soap:operation soapAction="http://tempuri.org/ITarjetas/ConsultarEmisores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarEmisoresPorDescripcion">
      <soap:operation soapAction="http://tempuri.org/ITarjetas/ConsultarEmisoresPorDescripcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarEmisorPorNumeroTarjeta">
      <soap:operation soapAction="http://tempuri.org/ITarjetas/ConsultarEmisorPorNumeroTarjeta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarInformacionTarjeta">
      <soap:operation soapAction="http://tempuri.org/ITarjetas/ConsultarInformacionTarjeta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioTarjetas">
    <wsdl:port name="BasicHttpBinding_ITarjetas" binding="tns:BasicHttpBinding_ITarjetas">
      <soap:address location="http://localhost:49584/ServicioTarjetas.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>