AplicacionWebTarjetas/Connected Services/ServicioTarjetas/ServicioTarjetas1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServicioTarjetasULACIT.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServicioTarjetasULACIT.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEmisor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Emisor" nillable="true" type="tns:Emisor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmisor" nillable="true" type="tns:ArrayOfEmisor" />
  <xs:complexType name="Emisor">
    <xs:sequence>
      <xs:element minOccurs="0" name="EMI_CODIGO" type="xs:int" />
      <xs:element minOccurs="0" name="EMI_DESCRIPCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMI_NUMERO_MAX_DIGITOS" type="xs:int" />
      <xs:element minOccurs="0" name="EMI_PREFIJO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Emisor" nillable="true" type="tns:Emisor" />
  <xs:complexType name="ArrayOfTarjeta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tarjeta" nillable="true" type="tns:Tarjeta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTarjeta" nillable="true" type="tns:ArrayOfTarjeta" />
  <xs:complexType name="Tarjeta">
    <xs:sequence>
      <xs:element minOccurs="0" name="TAR_CODIGO" type="xs:int" />
      <xs:element minOccurs="0" name="TAR_CODIGO_CLIENTE" type="xs:int" />
      <xs:element minOccurs="0" name="TAR_ESTADO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TAR_FECHA_EMISION" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TAR_FECHA_VENCIMIENTO" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TAR_NOMBRE_CLIENTE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TAR_NUMERO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TAR_SALDO" type="xs:decimal" />
      <xs:element minOccurs="0" name="TAR_TIPO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tarjeta" nillable="true" type="tns:Tarjeta" />
</xs:schema>